# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
venv/
.env.local

# ===============================
# Flask
# ===============================
instance/
*.sqlite3

# ===============================
# Docker
# ===============================
*.tar
*.img

# ===============================
# Kubernetes
# ===============================
*.kubeconfig

# ===============================
# MongoDB
# ===============================
data/
mongo-data/
dump/

# ===============================
# GitHub Actions Runner (IMPORTANT)
# ===============================
actions-runner/
_runner/
_work/
.DS_Store

# ===============================
# OS & Editor
# ===============================
*.swp
*.swo
*~
.idea/
.vscode/

# ===============================
# Node (if used)
# ===============================
node_modules/
